.header__content {
  grid-template-columns: auto 1fr;
}
.nav {
  justify-content: flex-end;
}
.nav__item {
  margin-left: 100px;
  text-decoration: none;
  color: $font-color;
}
.nav__item:hover {
  border-bottom: 1px solid $color-body;
}
.nav__item:first-child {
  margin-left: 0;
}
.logo h1 {
  font-family: $Inconsolata;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 6px;
  line-height: 0px;
  color: $color-black;
}

.drawer{
  display: none;
}

.left-menu {
  display: none;
}
.display-default{
  display: initial;
}
.hiden {
  display: none !important;
}
@media screen and (max-width: 800px) {
  .nav__item {
    margin-left: 30px;
  }
}
@media screen and (max-width: 540px) {
  .logo {
    display: none;
  }
  .nav {
    display: none;
  }

  .header{
    margin-top: 20px;
  }
  .header__content {
    position: relative;
  }
  .drawer {
    display: initial;
    width: 40px;
    height: 40px;
    background: url(../assets/header/drawer.svg) no-repeat;
    background-size: 40px 40px;
    background-position: center;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .left-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: -20px 0 0 -20px;
    z-index: 2;
  }
  .left-menu::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(../assets/header/background.jpg) no-repeat;
    background-position: center;
    background-size: auto 100vh;
    z-index: -2;
  }
  .left-menu::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.685);
    z-index: -1;
  }
  .tab{
    //background-color: red;
    display: flex;
    justify-content: flex-end;
  }
  .close {
    width: 30px;
    height: 30px;
    background: url(../assets/header/cancel.png) no-repeat;
    background-size: 30px 30px;
    background-position: center;
    border-radius: 100%;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .left-menu__nav {
    margin-top: 50px;
  }
  .left-menu__item{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
  }
}