// color
$color-level-3: #b4ad9e;
$color-body: #626262;
$color-black: #000000;
$newsletter: #f0f0f0;
$newsletter-title: #333333;

// fonts
$Inconsolata: 'Inconsolata', monospace;
$Playfair-Display: 'Playfair Display', serif;
$Ubuntu: 'Ubuntu', sans-serif;

// basis setting
$font-size: 14px;
$font-color: $color-body;
$font-family: $Playfair-Display;
$font-weight: 400;

// layaut